Adafruit-Blinka==8.39.1
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==3.0.0
adafruit-circuitpython-dht==3.5.8
adafruit-circuitpython-requests==3.2.8
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.63.0
Adafruit-PureIO==1.1.11
board==1.0
certifi
charset-normalizer
greenlet
idna
pyftdi
PyMySQL
pyserial
pyusb
requests
RPi.GPIO==0.7.1
SQLAlchemy
typing_extensions
urllib3
